* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

#quote-box {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(farthest-corner at 0% 0%, #43a047, #1b5e20);
    display: flex;
}

#center-card {
    display: block;
    margin: auto;
    width: 50%;
    background: #eeeeee20;
    padding: 2rem;
    border-radius: .1rem;
    box-shadow: 1px 1px 5px #00000022;
}

#tweet-box {
    display: flex;
    flex-direction:row-reverse;
}

#tweet-quote {
    display: block;
    width: 10rem;
    text-align: center;
    padding: 0.5rem;
    background: #01579b;
    border-radius: 0.1rem;
    text-decoration: none;
    color: #ccc;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

#text {
    font-family: 'Dancing Script', cursive;
    color: #ddd;
    font-size: 3rem;
    text-align: center;
}

#author {
    font-family: 'Indie Flower', cursive;
    color: #bbb;
    font-size: 1.5rem;
    text-align: center;
}

#new-quote {
    display: block;
    margin: auto;
    margin-top: 1rem;
    background: #1b5e20;
    border-radius: .1rem;
    border: 0 solid;
    padding: .5rem;
    color: #ccc;
    font-size: 1.2rem;
    cursor: pointer;
}